@model List<SocialMediaViewModel>
@using Resume.Domain.ViewModels.SocialMedia

@{
    ViewData["Title"] = "شبکه های اجتماعی";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">@ViewData["Title"]</h3>
        </div>
        <div class="right-title">
            <button type="button" onclick="LoadSocialMediaFormModal(0)" class="btn btn-circle btn-success mb-5"><i class="mdi mdi-plus"></i></button>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body" id="data-table-box">
                    <div class="table-responsive">
                        <table class="table table-hover no-wrap data-table">
                            <thead>
                                <tr class="bg-secondary">
                                    <th>آیکون</th>
                                    <th>لینک</th>
                                    <th>الویت</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null && Model.Any())
                                {
                                    @foreach (SocialMediaViewModel item in Model)
                                    {
                                        <tr id="ListItem-@(item.ID)">
                                            <td>@item.Icon</td>
                                            <td>@item.Link</td>
                                            <td>@item.Order</td>
                                            <td>
                                                <button onclick="LoadSocialMediaFormModal(@item.ID)" class="btn btn-icon-circle btn-warning">
                                                    <i class="ti-marker-alt"></i>
                                                </button>
                                                <button onclick="DeleteSocialMedia(@item.ID)" class="btn btn-icon-circle btn-danger">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->